html {
    text-align: center;
    font-family: monospace;
}

#calc {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: azure;
}

#container {
    background-color: black;
    border: 10px solid rgba(47,47,47,1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
    height: 640px;
}

#display {
    grid-column: 1 / -1;
    background-color: #b2b9b7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
}

button {
    margin: 1px;
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
}


#zero {
    grid-column: span 2;
}

.operator {
    background-color: coral;
}

.operator:focus {
    background-color: rgb(255, 85, 24);
}

.equals {
    background-color: rgb(243, 164, 61);
}

.equals:active {
    background-color: #ffc183;
}

.operand {
    background-color: #517474;
}

.operand:active {
    background-color: #75a7a7;
}

.decimal {
    background-color: dodgerblue;
}

.decimal:active {
    background-color: rgb(123, 189, 255);
}

.clear {
    background-color: dodgerblue;
}

.clear:active {
    background-color: rgb(123, 189, 255);
}

.sign {
    background-color: dodgerblue;
}

.sign:active {
    background-color: rgb(123, 189, 255);
}

.percent {
    background-color: dodgerblue;
}

.percent:active {
    background-color: rgb(123, 189, 255);
}

.pi {
    font-weight: bold;
    background-color: rgb(197, 102, 57);
}

.pi:active {
    font-weight: bold;
    background-color: rgb(236, 123, 70);
}

.e {
    font-weight: bold;
    background-color: rgb(101, 197, 57);
}

.e:active {
    font-weight: bold;
    background-color: rgb(124, 238, 71);
}

.squareroot {
    font-weight: bold;
    background-color: rgb(57, 71, 197);
}

.squareroot:active {
    font-weight: bold;
    background-color: rgb(70, 86, 235);
}

.square {
    font-weight: bold;
    background-color: rgb(185, 57, 197);
}

.square:active {
    font-weight: bold;
    background-color: rgb(218, 68, 231);
}